<h4>Categorías</h4>
<ul class="categorias">
    {% for category in app.config.get('taxonomy/categories/options') %}
        <li><a href="/categories/{{ category|lower|replace({' ': '-'}) }}">{{ category }}</a></li>
    {% else %}
        <li>{{ __('contenttypes.generic.no-recent', {'%contenttype%': 'categories'}) }}</li>
    {% endfor %}
</ul>