{% extends 'partials/_master.twig' %}

{% setcontent record = 'blocks/404-not-found' %}

{% block title %}
    {{ record.title|default('404 not found') }}
{% endblock title %}

{% block main %}
    <div class="row">
        <div class="large-12 columns">

        {# special case: See if we actually want the Styleguide. #}
        {% if app.request.server.get('REQUEST_URI') == '/styleguide' %}
            {{ include('styleguide.twig') }}
        {% else %}
            <h1 class="not-found-block">{{ record.title|default('404') }}</h1>

            {% if fields(record) %}
                {{ fields(record) }}
            {% else %}
                <p>
                    La página que buscás no existe en este sitio. Fijate si la URL está bien, sino podés
                    <a href="/">volver al inicio</a> o usar el buscador (arriba, a la derecha).
                </p>

            {% endif %}

        {% endif %}

        </div>
    </div>

{% endblock main %}