<!-- Footer -->
<footer class="row">
    <hr />
    <div class="large-12 columns">
        <p>Sitio <a href="http://bolt.cm" target="_blank" title="Sophisticated, lightweight & simple CMS">hecho con Bolt</a> y hosteado
            en <a href="https://www.linode.com/?r=d85fb1f91c4136078b27245cafa9451dd534e90a">Linode</a>.
            Utiliza la paleta <a href="http://www.colourlovers.com/palette/1205578/Winterheart?widths=1" target="_blank">Winterheart</a>
            de COLOURlovers.
        </p>
    </div>

    {{ widgets('footer') }}

</footer>

<script src="{{ asset('js/jquery.min.js', 'theme') }}"></script>
<script src="{{ asset('js/foundation.js', 'theme') }}"></script>
<script src="{{ asset('js/app.js', 'theme') }}"></script>
